.wrap {
  width: 1000px;
  margin: 0 auto;
}
.logo h1 {
  font-size: 200px;

  margin-bottom: 1px;

  text-align: center;

  color: #ff7a00;
  text-shadow: 4px 4px 1px white;
}
.logo p {
  font-size: 20px;

  margin-top: 1px;

  text-align: center;

  color: #b1a18d;
}
.logo p span {
  color: lightgreen;
}
.sub a {
  font-family: arial, serif;
  font-size: 13px;
  font-weight: bold;

  padding: 5px;

  text-decoration: none;

  color: #ff7a00;
}
.footer {
  position: absolute;
  right: 10px;
  bottom: 10px;

  color: white;
}
.footer a {
  color: #ff7a00;
}

@media (max-width: 1024px) {
  .logo h1 {
    font-size: 170px;

    margin-top: 140px;
  }
  .wrap {
    width: 100%;
  }
  .footer {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (max-width: 991px) {
  .logo h1 {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  body {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .logo h1 {
    margin-top: 0;
  }
  .footer {
    right: 0;

    width: 100%;

    text-align: center;
  }
}

@media (max-width: 736px) {
  .logo h1 {
    font-size: 120px;
  }
}

@media (max-width: 600px) {
  .logo h1 {
    font-size: 100px;
  }
}

@media (max-width: 568px) {
  .logo p {
    font-size: 15px;

    margin-top: 1px;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .logo p {
    margin-bottom: 10px;
  }
}

@media (max-width: 384px) {
  .footer {
    font-size: 13px;
    line-height: 25px;
  }
}

@media (max-width: 320px) {
  .logo h1 {
    font-size: 90px;
  }
  .logo p {
    font-size: 14px;

    margin-top: 10px;
    margin-bottom: 15px;
  }
  .footer {
    right: 10px;
    left: 10px;

    width: 94%;
  }
}
